name: Tests

on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master
    tags:
      - "*"

jobs:
  test:
    name: Test Julia ${{ matrix.jlversion }} - ${{ matrix.os }} - ${{ matrix.arch }} - ${{ github.event_name }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        arch: [x64]
        os: [ubuntu-latest]
        jlversion: ["1", "1.10"]
        pythonexe: ["@CondaPkg"]
        include:
          - os: windows-latest
            jlversion: "1"
            arch: x86
          - os: macos-latest
            jlversion: "1"
            arch: aarch64
          - os: ubuntu-latest
            jlversion: "nightly"
            arch: x64
            allow_failure: true

    steps:
      - uses: actions/checkout@v6

      - name: Setup Julia ${{matrix.jlversion}}
        uses: julia-actions/setup-julia@v2
        with:
          version: ${{ matrix.jlversion }}
          arch: ${{ matrix.arch }}

      #      - name: Use julia-actions cache
      #        uses: julia-actions/cache@v2

      - name: Build package
        uses: julia-actions/julia-buildpkg@v1

      - name: Run tests
        uses: julia-actions/julia-runtest@v1
        env:
          #JULIA_DEBUG: PythonCall
          JULIA_NUM_THREADS: "2"
          PYTHON: python
          JULIA_PYTHONCALL_EXE: ${{ matrix.pythonexe }}

      - name: Process coverage
        uses: julia-actions/julia-processcoverage@v1

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}

  python:
    name: Test Python (${{ matrix.pyversion }}, ${{ matrix.os }})
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: true
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        pyversion: ["3.9"]

    steps:
      - name: Set up Python ${{ matrix.pyversion }}
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.pyversion }}

      - name: Set up Julia
        uses: julia-actions/setup-julia@v2
        with:
          version: "1"

      - name: Display Python Version
        run: |
          python -c "import sys; print(sys.version)"
